{% load screen_shot %}
<h1>Create a new {{wiki_type}}</h1>

<div id="chooser_name">
    <p><label for="chooser_name_box" title="You need to name your {{wiki_type}} before it can be created in the Vault">Save as:</label> <input type="text" id="chooser_name_box" class="text" /></p>
</div>

<ul id="chooser">
    {% for language, display_language, version in languages %}
    <li><a href="/scrapers/new/{{language}}/tovault/{{vault_id}}/?name=new_scraper"><img src="{{MEDIA_URL}}/images/icons/{{language}}.png" alt="{{display_language}}"/> {{display_language}} <em>v {{ version }}</em></a></li>
    {% endfor %}
</ul>