{% load screen_shot %}
<h1>Create a new {{wiki_type}}</h1>
<!-- <ul class="views small">
  {% for language, display_language in languages %}
  <li>
    <a href="{% url editor wiki_type language %}{% if sourcescraper %}?sourcescraper={{sourcescraper}}{% endif %}" class="screenshot">
      <br/>
    <img src="{{MEDIA_URL}}/images/icons/{{language}}.png" alt="{{display_language}}"/>
      <br/>
    {{display_language}} {{wiki_type}}
    </a>                
  </li>
  {% endfor %}
</ul> -->
<ul id="chooser">
    {% for language, display_language, version in languages %}
    <li><a href="{% url editor wiki_type language %}{% if sourcescraper %}?sourcescraper={{sourcescraper}}{% endif %}"><img src="{{MEDIA_URL}}/images/icons/{{language}}.png" alt="{{display_language}}"/> {{display_language}}{% if version %} <em>v {{ version }}</em>{% endif %}</a></li>
    {% endfor %}
</ul>