{% extends "frontend/base.html" %}

{% block title %}Journalism Data Camp NY | Events{% endblock %}

{% block meta %}
    <meta name="description" content="ScraperWiki/Tow Center Journalism Data Camp, New York, with Columbia University" />
{% endblock %}

{% block body_class_extra %} event{% endblock %}

{% block javascript %}
<script src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyAfPeP-x7UtzNcoqQ7ZfuILBlCaEH8h2Ak&sensor=false"
type="text/javascript"></script>
<script type="text/javascript">
  function createMap() {
    var latlng = new google.maps.LatLng(40.807443, -73.963544);
    var myOptions = {
      zoom: 16,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("googlemap"), myOptions);
    var marker = new google.maps.Marker({
        map:map,
        animation: google.maps.Animation.DROP,
        position: latlng
      });
  }
</script>
{% endblock %}

{% block header %}
	<h2>ScraperWiki/Tow Center <em>Journalism Data Camp</em> NY</h2>
	<!-- <h3>on New York Data and Accountability</h3> -->
	<p class="deets"><span class="when">February 3rd &amp; 4th</span> <span class="price">Hosted by Columbia University</span> <span class="twitter">#jdcny</span></p>
	<p>Three streams, two days, one goal: opening up New York&rsquo;s data.</p>
	<p class="links">
	    <a href="#streams" class="findoutmore">Find out more</a>
	    <a href="#tickets" class="reserveaspace"><em>Sign up closed</em></a>
	</p>
{% endblock %}

{% block content_outer %}
<div id="page_outer">
	<div id="page_inner">
        <div id="event_sidebar">
            <h4 class="association">In association with</h4>
            <div class="module">
                <p><a href="http://www.journalism.columbia.edu/" target="_blank"><img src="{{MEDIA_URL}}images/event_logo_tow.gif" width="268" height="44" /></p>
                <p><a href="http://www.columbia.edu/" target="_blank"><img src="{{MEDIA_URL}}images/event_logo_columbia.gif" width="268" height="42" /></p>
                <p><a href="http://www.knightfoundation.org/" target="_blank"><img src="{{MEDIA_URL}}images/event_logo_knight.gif" width="268" height="35" /></a></p>
                <p><a href="http://www.sunlightfoundation.com/" target="_blank"><img src="{{MEDIA_URL}}images/event_logo_sunlight.gif" width="268" height="50" /></a></p>
            </div>
            <h4 class="who">Who&rsquo;s coming?</h4>
            <div class="module">
                <a href="http://jdcny.eventbrite.com/" id="guestlist">See the guestlist on<span> Eventbrite</span></a>
            </div>
            <h4 class="when">When?</h4>
            <div class="module">
                <p>09:00&ndash;18:00 Friday 3rd Feb 2012</p>
                <p>09:00&ndash;18:00 Saturday 4th Feb 2012</p>
            </div>
            <h4>Where?</h4>
            <div class="module">
                <div id="googlemap" style="width: 268px; height: 250px; margin: 5px 0"></div>
                <p class="address"><a href="http://maps.google.com/maps?q=2950+Broadway,+New+York,+NY+10027" target="_blank" title="Show in Google Maps">School of Journalism,<br/><strong>Columbia University</strong>,<br/>2950 Broadway (at 116th Street),<br/>New York, NY 10027</a></p>
            </div>  
        </div>
        <div id="event_details">
            <h3 class="description">Why we need you <span class="hint">Click to find out more</span></h3>
            <div id="description">
                <p class="first">There are mountains of documents and websites out there that contain essential data about New York, but someone needs to liberate and analyze it to keep businesses and government accountable.</p>
                <p>ScraperWiki, together with the Tow Center at Columbia University School of Journalism and the Knight Foundation, are doing just that. We need journalists, students, computer scientists, programmers, statisticians and public officials to dig up the&nbsp;data!</p>
                <p class="last"><img src="{{MEDIA_URL}}images/event_big_arrow.gif" width="45" height="65" alt="" />All you need is enthusiasm and a laptop &ndash; we supply the food, drink and wifi. <b>Entry is free</b> but space is limited. We&rsquo;ve got something for everyone, so check out the three streams below, and reserve a ticket before&nbsp;they&nbsp;go.</p>
            </div>
            <h3 class="streams">Pick a stream <span class="hint">Click to see the streams</span></h3>
            <div id="streams">
                <div class="stream">
                    <h4><span class="stream a">Stream A:</span> Journalism Data Derby</h4>
                    <img src="{{MEDIA_URL}}images/event_race_tractor.gif" width="156" height="128" alt="" style="float: right; margin: 0 0 10px 10px" />
                    <p>Use data to uncover facts and drive your story home. Work in teams to identify stories, create hypotheses, and then gather, clean, analyse and visualise the data you need. The most innovative approaches and original ideas will win&nbsp;prizes.</p>
                    <p>This stream is perfect for journalists <strong>with or without programming experience</strong>, or anyone who wants to dive deep into the production of a data&nbsp;story.</p>
                </div>
                <hr/>
                <div class="stream">
                    <h4><span class="stream b">Stream B:</span> Liberate the Data</h4>
                    <p><a id="liberatesomedata" href="https://views.scraperwiki.com/run/columbia_data_liberation_vote/">Tell us what data<br/>you&rsquo;d like liberated!<img src="{{MEDIA_URL}}images/icons/mac_cursor.png" width="13" height="19" alt=""></a></p>
                    <p>We want to open up more data, and you&rsquo;re the people to do it! This stream is the place for <strong>experienced Python, PHP or Ruby coders</strong>. Come pick up some high-level scraping skills and then get in the driver&rsquo;s seat by liberating data for the Data&nbsp;Derby.</p>
                    <p>We&rsquo;ll have a list of inaccessible datasets on hand that we need your help to access. And, of course, the most productive liberators will be recognized with&nbsp;prizes!</p>
                </div>
                <hr/>
                <div class="stream">
                    <h4><span class="stream c">Stream C:</span> Learn to Scrape</h4>
                    <img src="{{MEDIA_URL}}images/event_blobby_developer.gif" width="80" height="128" alt="" style="float:left; margin: 15px 15px 10px 0" />
                    <p>If you already have some <strong>basic Python or Ruby skills</strong>, but want to know more about using ScraperWiki to get at more of the data you want, this is the stream for you. We&rsquo;ll be holding two tutorial sessions: one in Python on Friday morning, and one in Ruby on Friday&nbsp;afternoon.</p>
                    <p>By the end of Friday you&rsquo;ll have all the knowledge you need to come back on Saturday and join a race team in <span class="stream a">Stream&nbsp;A</span> or liberate some data in <span class="stream b">Stream&nbsp;B.</span></p>
                </div>
            </div>
            <h3 class="tickets">Sign up with Eventbrite <span class="hint">Click to reserve a ticket</span></h3>
            <div id="tickets">
                <div style="width:100%; text-align:left;" ><iframe  src="http://www.eventbrite.com/tickets-external?eid=2586650742&ref=etckt" frameborder="0" height="380" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" ><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com/r/etckt" >Online Ticketing</a><span style="color:#ddd;" > for </span><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://jdcny.eventbrite.com?ref=etckt" >ScraperWiki/Tow Center Journalism Data Camp NY #jdcny</a><span style="color:#ddd;" > powered by </span><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com?ref=etckt" >Eventbrite</a></div></div>
            </div>
        </div>
        <br class="clear" />
    </div>
</div>
{% endblock %}


{% block run_script %}
    {{block.super}}
    
    createMap();
    
    $('.links a').bind('click', function(e){
        e.preventDefault();
        var target = $($(this).attr('href'));
        if(target.is(':visible')){
            $('html, body').animate({
                scrollTop: target.offset().top - 80
            }, 500, 'swing');
        } else {
            target.slideDown(function(){
                $('html, body').animate({
                    scrollTop: target.offset().top - 80
                }, 500, 'swing');
            }).prev().addClass('active').siblings('.active').removeClass('active').next().slideUp();          
        }
    });
    
    $('#streams, #tickets').hide();
    
    $('h3.description').addClass('active');
    
    $('h3.description, h3.streams, h3.tickets').bind('click', function(){
        if( ! $(this).next().is(':visible')){
            $(this).addClass('active').next().slideDown();
            $(this).siblings('.active').removeClass('active');
            $('#description, #streams, #tickets').not($(this).next()).slideUp();
        }
    });
    
{% endblock %}

