{% extends "frontend/base.html" %}
{% block css %}{% endblock %}

{% block title %}Enter new password{% endblock %}

{% block header %}
	<h2><em>Enter new password</em></h2>
{% endblock %}

{% block content %}

  {% if form %}
  <h1>Enter new password</h1>
  <p>Please enter your new password twice <br/>so we can verify you typed it in correctly.</p>
  <div>
    {% include 'shared/form_errors.html' %}
    <form action="" method="post">
      {% csrf_token %}
      <ul>
        <li><label for="id_new_password1">New Password: </label>{{form.new_password1}}</li>
        <li><label for="id_new_password2">Confirm Password: </label>{{form.new_password2}}</li>
        <li class="last"><input type="submit" value="Reset My Password"></li>
      </ul>
    </form>
  </div>
  {% else %}
    <h1>Password reset unsuccessful</h1>
    <p>The password reset link was invalid, possibly because it has already been used. Please go <a href="/accounts/password/reset/">here</a> to get request another one</p>
  {% endif %}

{% endblock %}
