{% extends "frontend/base.html" %}
{% block css %}{% endblock %}

{% block title %}Password reset{% endblock %}

{% block header %}
	<h2><em>Password reset</em></h2>
{% endblock %}

{% block content %}

  <h1>Password reset</h1>
  <p>Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one.</p>
  <div>
    {% include 'shared/form_errors.html' %}
    <form action="" method="post">
      {% csrf_token %}
      <ul class="form">
        <li><label for="id_email">Email Address: </label>{{form.email}}</li>
        <li class="last"><input type="submit" value="Reset My Password"></li>
      </ul>
    </form>
  </div>

{% endblock %}
