</td>
								</tr>
								<tr><!-- FOOTER -->
									<td width="100">
									    &nbsp;
									</td>
									<td width="500" style="padding: 0px; margin: 0px; vertical-align: top; text-align: left;">
									    <p style="font-size: 14px; line-height: 19px; font-family: Helvetica, Arial, sans-serif; color: #999999; margin: 80px 0 40px 0">Questions? Problems? <a href="{{account_hosted_maintenance_url}}" style="color: #666666">Log in and manage your account here.</a><br/>Or email us at <a href="mailto:{{company_email}}" style="color: #666666">{{company_email}}</a></p>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</body>
