<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
</head>
<body marginheight="0" topmargin="0" marginwidth="0" style="margin: 0px; background-color: #FFFFFF;" bgcolor="#FFFFFF" leftmargin="0">
	<table cellspacing="0" border="0" cellpadding="0" width="100%" bgcolor="#FFFFFF">
	    <tr>
	        <td>
	            <table cellspacing="0" border="0" align="center" cellpadding="0" width="600">
	                <tr>
	                    <td>
							<table cellspacing="0" border="0" cellpadding="0" width="600">
								<tr><!-- HEADER -->
									<td width="600" colspan="2" valign="top" style="padding: 50px 0 35px 0; margin: 0px; vertical-align: top; text-align: left;">
										<img src="https://media.scraperwiki.com/images/email_logo.gif" width="350" height="55" style="display: inline;" alt="ScraperWiki" />
									</td>
								</tr>
								<tr><!-- BODY -->
									<td width="100">
									    &nbsp;
									</td>
									<td width="500" style="padding: 0px; margin: 0px; vertical-align: top; text-align: left;">
									    <h2 style="font-size: 22px; line-height: 26px; font-family: Helvetica, Arial, sans-serif; color: #666666; margin: 0px; font-weight: normal;">Hi! Just letting you know that <a href="https://scraperwiki.com/terms_and_conditions/" style="color: #111">ScraperWiki&rsquo;s T&amp;Cs</a> are changing. The main updates are:</h2>
									    <ol style="font-size: 18px; line-height: 23px; font-family: Helvetica, Arial, sans-serif; color: #666666; margin: 20px 0; background: #eeeeee; padding: 20px 20px 20px 50px">
									        <li style="margin-bottom: 20px"><strong>New terms for &ldquo;vaults.&rdquo;</strong> <a href="https://scraperwiki.com/pricing/" style="color: #111">Vaults</a> are a way to host a group of scrapers in private, so you can choose who can access them and their data. The terms also now make it clear that you own your private scrapers.</li>
									        <li><strong>General terms to do with charging for services.</strong> This is because we&rsquo;ll soon be offering premium features like vaults on a self-service basis. (If you&rsquo;d like a vault in the meantime, <a href="https://scraperwiki.com/pricing/" style="color: #111">contact us</a>)</li>
									    </ol>    
									    <p style="font-size: 18px; line-height: 23px; font-family: Helvetica, Arial, sans-serif; color: #666666; margin: 0;">You can view the new T&amp;Cs, and a diff against the old ones, here: <a href="https://scraperwiki.com/terms_and_conditions/" style="color: #111">https://scraperwiki.com/terms_and_conditions/</a></p>
									    <p style="font-size: 18px; line-height: 23px; font-family: Helvetica, Arial, sans-serif; color: #666666; margin: 20px 0 0 0;">The new T&amp;Cs will come into force for existing users in a week&rsquo;s time, at 6PM (GMT) on Friday, 18th November.</p>
									    <p style="font-size: 18px; line-height: 23px; font-family: Helvetica, Arial, sans-serif; color: #666666; margin: 40px 0 0 0;">Best wishes,</p>
									    <p style="font-size: 18px; line-height: 23px; font-family: Helvetica, Arial, sans-serif; color: #666666; margin: 10px 0 0 0; font-style: italic;">Francis &amp; the ScraperWiki team</p>
									</td>
								</tr>
								<tr><!-- FOOTER -->
									<td width="100">
									    &nbsp;
									</td>
									<td width="500" style="padding: 0px; margin: 0px; vertical-align: top; text-align: left;">
									    <p style="font-size: 14px; line-height: 19px; font-family: Helvetica, Arial, sans-serif; color: #999999; margin: 80px 0 40px 0">This email has been sent to all activated ScraperWiki user accounts, in accordance with the notice requirement of our T&amp;Cs. You can edit your preferences for <em>other</em> ScraperWiki emails <a href="https://scraperwiki.com/profiles/edit" style="color: #666666">here</a>.</p>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</body>
