{% extends "frontend/base.html" %}

{% block title %}About{% endblock %}

{% block meta %}
    <meta name="description" content="ScraperWiki is an online tool for gathering, cleaning and publishing data from the web. It has a thriving community of developers writing scrapers and visualisations, and also offers paid corporate services and private data vaults." />
{% endblock %}

{% block header %}
	<h2>About ScraperWiki</h2>
	<p>All about the company and people behind ScraperWiki</p>
{% endblock %}

{% block content %}


<div class="column-left">
    <h2 class="inline">What is ScraperWiki?</h2>
    <p class="first">There&rsquo;s lots of useful data on the internet &ndash; crime
    statistics, government spending, <a href="http://www.nationalpetregister.org/">missing kittens</a>&hellip;</p>
    <p>But getting at it isn&rsquo;t always easy. There's a table here, a report
    there, a few web pages, PDFs, spreadsheets&hellip; And it can be scattered over
    thousands of different places on the web, making it hard to see the whole
    picture and the story behind it. It&rsquo;s like trying to build something
    from Lego when someone has hidden the bricks all over town and you have to
    find them before you can start building!</p>
</div>
<div class="column-right">
    <p>To get at data, programmers write bits of code called &lsquo;screen
    scrapers&rsquo;, which extract the useful bits so they can be reused in
    other apps, or rummaged through by journalists and researchers. But these
    bits of code tend to break,  get thrown away or forgotten once they have
    been used, and so the data is lost again. Which is bad.</p> 

    <p>ScraperWiki is an online tool to make that process simpler and more
    collaborative. Anyone can write a screen scraper using the online editor.
    In the free version, the code and data are shared with the world. 
    Because it's a wiki, other programmers can contribute to and improve the
    code.</p>

    <p>If you're not a programmer, or if you want to tackle a large or complex
    task, you can ask the ScraperWiki team to 
    <a href="{% url request_data %}">organise it for you</a>.</p>
</div>

<br class="clear" />

<a id="help" href="{% url docsroot %}"><img src="{{MEDIA_URL}}/images/icons/question.png" width="16" height="16" /> Need help with technical questions? Click here to visit the <u>help pages</u>.</a>

<div id="scrapbook">
	<h2><a>A day in the life of ScraperWiki</a></h2>
	<ul>
        <li>
            <a href="http://www.youtube.com/watch?v=3RQ1f6vUMoM&p=12A3B8DEF0A9F401">
                <img src="{{ MEDIA_URL }}images/scrapbook_bbc.jpg" width="145" height="100" alt="ScraperWiki at the BBC Hack Day" />
                <h4>Outreach at the BBC</h4>
            </a>
        </li>
        <li>
            <a href="http://www.channel4.com/news/could-selling-off-britains-assets-cut-the-debt">
                <img src="{{ MEDIA_URL }}images/scrapbook_channel4.jpg" width="145" height="100" alt="ScraperWiki&rsquo; Government spending chart for Channel4" />
                <h4>Visualisations for Channel 4</h4>
            </a>
        </li>
        <li>
            <a href="http://blog.scraperwiki.com/2011/02/25/read-all-about-it-read-all-about-it-%E2%80%9Cscraperwiki-gets-on-the-guardian-front-page-%E2%80%9D/">
                <img src="{{ MEDIA_URL }}images/scrapbook_guardian.jpg" width="145" height="100" alt="ScraperWiki on the Guardian front page" />
                <h4>Data discovery in the Guardian</h4>
            </a>
        </li>
        <li>
            <a href="http://blog.scraperwiki.com/2011/05/11/access-government-in-a-way-that-makes-sense-to-you-surely-not/">
                <img src="{{ MEDIA_URL }}images/scrapbook_alphagov.jpg" width="145" height="100" alt="Alpha.gov.uk website" />
                <h4>Data Mining for the Government</h4>
            </a>
        </li>
	    <li class="clear"></li>
	</ul>
</div>

<div id="people">
    <h2><a>Company history and people</a></h2>

    <p>ScraperWiki was started by Julian Todd and Aidan McGuire. The company
    <a href="http://blog.scraperwiki.com/2012/02/09/1-million-to-build-a-data-platform-2/">has investment</a>
    from EV and the founders.  We're based in Liverpool, with staff also in London and New York.
    </p>
    
    <div id="about_images">
        <span class="about_image">
            <img src="{{ MEDIA_URL }}images/about_francis.png"> 
            <span style="display: none"> 
                Francis Irving (CEO, <a href="http://www.twitter.com/frabcus">@frabcus</a>) 
                was founding developer at democracy startup <a href="http://www.mysociety.org">mySociety</a>.
                He founded developer tool <a href="http://www.tortoisecvs.org">TortoiseCVS</a>, 
                which with its successors is used by tens of millions of people.
            </span>
        </span>
        <span class="about_image">
            <img src="{{ MEDIA_URL }}images/about_aine.png"> 
            <span style="display: none"> 
                Aine McGuire (CMO, <a href="http://www.twitter.com/ainemcguire">@ainemcguire</a>)
                previously founded <a href="http://www.pygmalion.com/Pages/Home.aspx">Pygmalion</a>,
                the first UK Microsoft Gold Certified Partner company,
                which has a major focus on education and partner skills. 
            </span>
        </span>
        <span class="about_image">
            <img src="{{ MEDIA_URL }}images/about_julian.png"> 
            <span style="display: none"> 
                Julian Todd (Chief Data Scientist, <a href="http://www.twitter.com/goatchurch">@goatchurch</a>)
                created <a href="http://www.theyworkforyou.com">TheyWorkForYou.com</a>, 
                being first to scrape the UK Parliament back in 2003, inspiring
                the Sunlight Foundation and others. He dives and caves, but would never cave dive.
            </span>
        </span>
        <span class="about_image">
            <img src="{{ MEDIA_URL }}images/about_aidan.png">
            <span style="display: none"> 
                Aidan McGuire (CFO, <a href="http://www.twitter.com/amcguire62">@amcguire62</a>)
                founded three software businesses under the
                <a href="http://www.bluefountain.com/">Blue Fountain</a> brand &mdash;
                Japanese spreadsheets, supply chain management and content management.  
                He has a banking background.
            </span>
        </span>
        <br>
        <span class="about_image">
            <img src="{{ MEDIA_URL }}images/about_david.png"> 
            <span style="display: none"> 
                David Jones (First Engineer, <a href="http://www.twitter.com/drjtwit">@drjtwit</a>) 
				has coded garbage collectors, programming language implementations, video games, 
				robot controllers, and analyses of the global historical temperature record.  He is 
				a climber, and director of Climate Code Foundation.
            </span>
        </span>
        <span class="about_image">
            <img src="{{ MEDIA_URL }}images/about_chris.png"> 
            <span style="display: none"> 
                Chris Blower (Platform Engineer, <a href="http://www.twitter.com/chrisb33">@chrisb33</a>) 
                got his start programming on Acorn computers, and has since coded everything from telnet 
                talkers to web-enabled telephony applications. He enjoys learning different technologies, 
                flashpacking and photography.
            </span>
        </span>
        <span class="about_image">
            <img src="{{ MEDIA_URL }}images/about_zarino.png"> 
            <span style="display: none"> 
                Zarino Zappia (VP of Product, <a href="http://www.twitter.com/zarino">@zarino</a>) studied 
				Open Data development at the Oxford Internet Institute, but is really a design geek at heart. 
				When not knee-deep in jQuery and Photoshop, he makes amazing cookies (of the baked, rather 
				than web browsing, kind).
            </span>
        </span>
        <span class="about_image">
            <img src="{{ MEDIA_URL }}images/about_tom.png"> 
            <span style="display: none"> 
    			Thomas Levine (Developer Advocate, <a href="https://twitter.com/thomaslevine">@thomaslevine</a>)
    			has been hacking with computers since he was young.
    			In the process, he noticed back and wrist pain, prompting him to research physical
    			ergonomics of computer use and, in turn, to study statistics.
    			His favorite color is pink.
            </span>
        </span>
        <span class="about_image">
            <img src="{{ MEDIA_URL }}images/about_kinga.png" style="margin-right:9px;">
            <span style="display: none"> 
                Kinga Deneka (Sales Support Manager, <a href="http://www.twitter.com/kinga82">@kinga82</a>) 
                has a background in public administration and spent some of her
                training at The Chancellery of the President of the Republic of
                Poland. 
            </span>
        </span>
    </div>
    <div id="about_hover">
    </div>

    <p>Thanks also to: Richard Pope, product manager for the first version of ScraperWiki. 
        Tom Mortimer-Jones, 
		Ross Jones,
        Anna Powell-Smith, 
        Mike Richardson,
        and Sym Roe
    who helped to build it.
    Nicola Hughes for everything.
    Judith Townend for co-ordinating our Hacks and Hackers tour in 2010/11.
    Mark James for <a href="http://www.famfamfam.com/lab/icons/silk/">Silk icons</a> and Yusuke Kamiyamane for <a href="http://p.yusukekamiyamane.com">Fugue icons</a>.
    Tom Steinberg and Jamie Arnold for mentoring. And <a href="http://www.francisdavey.co.uk">Francis Davey</a> 
    for legal advice. 
    We also offer <a href="http://www.youtube.com/watch?v=HNGc8gKFkDs">bespoke igloos</a>.
    </p>

</div>

<div id="about_specifics">
    <div class="opensource">
        <img src="{{ MEDIA_URL }}images/bitbucket.png" width="90" height="90" alt="" />
        <p>ScraperWiki is an Open Source and proud. Head over to BitBucket and inspect our code, file a bug, or submit a patch: <a href="http://bitbucket.org/ScraperWiki/scraperwiki/">http://bitbucket.org/ScraperWiki/</a></p>
    </div>
    <div class="logos">
        <img src="{{ MEDIA_URL }}images/footer_tractor.png" width="140" height="90" alt="" />
        <p>Since you were probably wondering, our logo is a &lsquo;<a href="http://en.wikipedia.org/wiki/Wheel_tractor-scraper">wheel tractor-scraper</a>.&rsquo; It&rsquo;s like a huge cheese slice for moving soil. The logo itself was designed by <a href="http://twitter.com/jamesweiner">James Weiner</a>.</p>
    </div>
    <br class="clear" />
</div>


{% endblock %}

{% block run_script %}
    {{block.super}}

    $('.about_image').mouseover( function()
    {
        var h = $(this).find("span").html();
        if ($('#about_hover').html() != h) {
            $('#about_hover').html(h);
            $('#about_hover').show();
        }
    });

{% endblock %}


