<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>{% block title %}{% endblock %} | ScraperWiki</title>
	<link rel="image_src" href="{{ MEDIA_URL }}images/footer_tractor.png" />

    {% block meta %}{% endblock %}

	{% load compress %}
	
	{% compress js %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.5.2.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-1.8.12.custom.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.easing.compatibility.js"></script>		
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.cycle.all.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.jeditable.js"></script>		
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.simplemodal.1.4.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.hotkeys.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/json-min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/underscore.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/ICanHaz.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/csrf.js?{{settings.REVISION}}"></script>       
    <script type="text/javascript" src="{{ MEDIA_URL }}js/scraperwiki.js?{{settings.REVISION}}"></script>		
	{% endcompress %}

	{% block javascript %}{% endblock %}

	{% compress css %}
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/jquery-ui-1.8.12.css" />
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/main.css?{{settings.REVISION}}" />
	{% endcompress %}
	
	{% block css %}{% endblock %}
	{% block rss %}{% endblock %}

	{% if not debug %}
	    <script type="text/javascript">

	      var _gaq = _gaq || [];
	      _gaq.push(['_setAccount', 'UA-21451224-1']);
          _gaq.push(['_setDomainName', 'none']);
          _gaq.push(['_setCustomVar', 1, 'Registered User', '{% if user.is_authenticated %}True{% else %}False{% endif %}', 2]);
	      _gaq.push(['_trackPageview']);

	      (function() {
	        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	      })();

	    </script>
	{% endif %}
</head>

{% load body_class %}
<body class="{%  body_class request %}{% block body_class_extra %}{% endblock %}">

{% if messages %}
	{% for message in messages %}
		{{ message|safe }}
	{% endfor %}
{% endif %}
    <noscript>
        <div id="alert_outer" class="error">
        	<div id="alert_inner">
        	    Oh no! You need to enable Javascript to use ScraperWiki.
                <a href="http://support.google.com/bin/answer.py?hl=en&mp;answer=23852">Find out how</a>
            </div>
        </div>
    </noscript>
    <!--[if IE 6]>
        <div id="alert_outer" class="error">
        	<div id="alert_inner">
        	    Oh no! Your browser is too old to use ScraperWiki.
                <a href="http://browserchoice.eu">Click here to upgrade</a>
            </div>
        </div>
    <![endif]-->
    <!--[if IE 7]>
        <div id="alert_outer" class="warning">
        	<div id="alert_inner">
        	    Still on IE7? For the best experience, you should upgrade your browser.
                <a href="http://browserchoice.eu">Cripes, upgrade me!</a>
            </div>
        </div>
    <![endif]-->
	
	{% block nav_outer %}
	<div id="nav_outer">
		<div id="nav_inner">
			{% block nav %}
			<h1><a href="{% url frontpage %}" onClick="if(typeof _gaq !== 'undefined'){ _gaq.push(['_trackEvent', 'Navbar links', 'Home: logo']); }">ScraperWiki</a></h1>
			<ul>
				<!-- <li class="frontpage"><a href="{% url frontpage %}" onClick="if(typeof _gaq !== 'undefined'){ _gaq.push(['_trackEvent', 'Navbar links', 'Home: Home']); }">Home</a></li> -->
				<li class="about"><a href="{% url about %}" onClick="if(typeof _gaq !== 'undefined'){ _gaq.push(['_trackEvent', 'Navbar links', 'About']); }">About</a></li>
				<li class="about"><a href="{% url scraper_list %}scrapers" onClick="if(typeof _gaq !== 'undefined'){ _gaq.push(['_trackEvent', 'Navbar links', 'Browse']); }">Browse</a></li>
				<li class="blog"><a href="http://blog.scraperwiki.com" onClick="if(typeof _gaq !== 'undefined'){ _gaq.push(['_trackEvent', 'Navbar links', 'Blog']); }">Blog</a></li>
				<li class="events"><a href="{% url events %}" onClick="if(typeof _gaq !== 'undefined'){ _gaq.push(['_trackEvent', 'Navbar links', 'Events']); }">Events</a></li>
				{% if user.is_authenticated %}
				<li class="user loggedin">
					<a href="{% url profiles_profile_detail user.username %}"><span>{% if user.get_profile.name %}{{user.get_profile.name}}{% else %}{{user.username}}{% endif %}</span></a>
					<ul>
						<li class="dashboard"><a href="{% url dashboard %}">Your dashboard</a></li>
						{% if user.vaults.count > 0 or request.user.vault_membership.count %}
						<li class="vaults"><a href="{% url vault %}">Your vaults</a></li>
						{% endif %}
						
						<li class="profile"><a href="{% url profiles_profile_detail user.username %}">Your profile</a></li>
						<li class="feedback"><a href="{% url contact_form %}">Give feedback</a></li>
						<li class="signout"><a href="{% url logout %}?next_page=/">Sign out</a></li>
					</ul>
				</li>
				{% else %}
				<li class="user login">
                <a href="{% url login %}?next={% ifequal request.get_full_path '/' %}/dashboard/{% else %}{{ request.get_full_path }}{% endifequal %}">Log in</a>
				    <ul>
						<li class="login_form">
						    <form method="post" action="{% url login %}" id="nav_login_form">
                                {% csrf_token %}
                                <label for="id_nav_user_or_email">Username or email:</label>
                                <input type="text" id="id_nav_user_or_email" name="user_or_email" />
                                <label for="id_nav_password">Password:</label>
                                <input type="password" id="id_nav_password" name="password" />
                                <a id="forgotten" href="/accounts/password/reset/">Forgotten?</a>
                                <input type="hidden" name="redirect" value="{% ifequal request.get_full_path '/' %}/dashboard/{% else %}{{ request.get_full_path }}{% endifequal %}"/>
                                <input type="submit" class="submit" id="nav_login_submit" name="login" value="Log in" />
                                <span class="clear"></span>
                            </form>
						</li>
						<li class="signup"><a href="{% url login %}">Create an account</a></li>
					</ul>
				</li>
				{% endif %}
				<li class="search">
					<form id="navSearch" action="/search/" method="post">
                        {% csrf_token %}
		            	<input type="text" id="nav_search_q" name="q" value="{% block searchbox %}{% endblock %}"/>
		            	<input type="submit" id="nav_search_go" value="Go" />
					</form>
				</li>
			</ul>
			{% endblock %}
		</div>
	</div>
	{% endblock %}


	{% block header_outer %}
	<div id="header_outer">
		<div id="header_inner">
{% block header %}
			<h2>Page header</h2>
{% endblock %}
		</div>
	</div>
	{% endblock %}

	{% block content_outer %}
	<div id="page_outer">
		<div id="page_inner">
		
		{% block menu %}
		
		<div id="divMenu">
              <ul class="main_menu">
				{% if user.is_authenticated %}
                <li><a href="{% url dashboard %}" title="Manage your scrapers" class="dashboard" onClick="if(typeof _gaq !== 'undefined'){ _gaq.push(['_trackEvent', 'Sidebar links', 'Dashboard']); }">Your dashboard</a></li>
                {% endif %}
                <li><a href="{% url scraper_list %}scrapers" title="Browse all scrapers" onClick="if(typeof _gaq !== 'undefined'){ _gaq.push(['_trackEvent', 'Sidebar links', 'Browse']); }">Browse</a></li>
                <li>
                    <a data-wiki_type="scraper" href="{% url choose_template 'scraper' %}" title="Create a new screen scraper" class="editor_scraper" onClick="if(typeof _gaq !== 'undefined'){ _gaq.push(['_trackEvent', 'Sidebar links', 'New scraper']); }">New scraper</a> /
                    <a data-wiki_type="view" href="{% url choose_template 'view' %}" title="Create a new view" class="editor_view" onClick="if(typeof _gaq !== 'undefined'){ _gaq.push(['_trackEvent', 'Sidebar links', 'New view']); }">view</a>
                </li>
                <li><a href="{% url get_involved %}" title="Get involved" onClick="if(typeof _gaq !== 'undefined'){ _gaq.push(['_trackEvent', 'Sidebar links', 'Get involved']); }">Get involved!</a></li>
                <li><a href="{% url request_data %}" onClick="if(typeof _gaq !== 'undefined'){ _gaq.push(['_trackEvent', 'Sidebar links', 'Request data']); }">Request data</a></li>
                <li><a href="{% url docsroot %}" onClick="if(typeof _gaq !== 'undefined'){ _gaq.push(['_trackEvent', 'Sidebar links', 'Documentation']); }">Documentation</a></li>
              </ul>

              <ul class="sub_menu"> 
                   <li class="survey"><a href="http://sw.zarino.co.uk" title="ScraperWiki Developer Survey" onClick="if(typeof _gaq !== 'undefined'){ _gaq.push(['_trackEvent', 'Sidebar links', 'Take our survey']); }"><span class="unimportant">Take our</span> survey!</a></li>
                 <li><a href="http://blog.scraperwiki.com" title="ScraperWiki Data Blog" onClick="if(typeof _gaq !== 'undefined'){ _gaq.push(['_trackEvent', 'Sidebar links', 'Read our blog']); }"><span class="unimportant">Read our</span> blog</a></li>
                 <li><a href="http://groups.google.com/group/scraperwiki" title="Google groups" onClick="if(typeof _gaq !== 'undefined'){ _gaq.push(['_trackEvent', 'Sidebar links', 'Join our email list']); }"><span class="unimportant">Join our</span> email list</a></li>
                 <li><a href="{% url contact_form %}" title="Feedback form"><span class="unimportant" onClick="if(typeof _gaq !== 'undefined'){ _gaq.push(['_trackEvent', 'Sidebar links', 'Send us feedback']); }">Send us</span> Feedback</a></li>
                 <li><a href="http://twitter.com/scraperwiki" title="Follow us on Twitter" onClick="if(typeof _gaq !== 'undefined'){ _gaq.push(['_trackEvent', 'Sidebar links', 'Twitter']); }"><span class="unimportant">Follow us on</span> Twitter</a></li>
                 <li><a href="https://www.facebook.com/pages/ScraperWiki/195413557138197" title="Like us on Facebook" onClick="if(typeof _gaq !== 'undefined'){ _gaq.push(['_trackEvent', 'Sidebar links', 'Facebook']); }"><span class="unimportant">Find on</span> Facebook</a></li>
              </ul>

              {% if user.is_staff %}
              <ul class="sub_menu staff"> 
                  {% if scraper.pk %}
                    <li><a href="/admin/codewiki/{{scraper.wiki_type}}/{{scraper.pk}}">Django admin (this scraper)</a></li>
                  {% else %}
                      {% if profile.user.pk %}
                        <li><a href="/admin/auth/user/{{profile.user.pk}}">Django admin (this user)</a></li>
                      {% else %}
                        <li><a href="/admin/">Django admin</a></li>
                      {% endif %}
                  {% endif %}
                  <li><a href="{% url status %}" title="Interact with current sandbox status">NEW status</a></li>
                  <li><a href="{% url running_scrapers %}" title="Interact with current sandbox status">LXC status</a></li>
                  <li><a href="/munin/" title="Server usage monitoring">Munin</a></li>
                  <li><a href="{% url kpi %}" title="Key performance indicators">KPIs</a></li>
              </ul>
              {% endif %}
            </div>
		
		{% endblock %}
		
		{% block above_page %}{% endblock %}		    

		<div id="divPage">
    		{% block tabs %}{% endblock %}
		    <div id="divContent">

  		        {% block content %}{% endblock %}
  		        <br class="clear"/>
		    </div>
		</div>
		<br class="clear" />
	</div>
	{% endblock %}

	{% block footer_outer %}
	<div id="footer_outer">
		<div id="footer_inner">
			{% block footer %}
            {% load site_stats %}
            {% comment %}<p class="stats">has gathered <strong>{% num_data_rows %} rows of data</strong> and counting&hellip;</p>{% endcomment %}
            <p class="stats">Sifting information to give you the edge</p>
            <i id="shhhh" style="display:none">{% num_data_rows %}</i>
			<dl>
				<dt>Business</dt>
				<dd>
					<ul>
						<li><a href="{% url scraper_list %}scrapers" onClick="if(typeof _gaq !== 'undefined'){ _gaq.push(['_trackEvent', 'Footer links', 'Browse data']); }">Browse data</a></li>
						<li><a href="{% url request_data %}" onClick="if(typeof _gaq !== 'undefined'){ _gaq.push(['_trackEvent', 'Footer links', 'Request data']); }">Request data</a></li>
						<li><a href="{% url pricing %}" onClick="if(typeof _gaq !== 'undefined'){ _gaq.push(['_trackEvent', 'Footer links', 'Pricing']); }">Pricing</a></li>
					</ul>
				</dd>
				<dt>Developers</dt>
				<dd>
					<ul>
					    <li><a data-wiki_type="scraper" href="#" class="editor_scraper" onClick="if(typeof _gaq !== 'undefined'){ _gaq.push(['_trackEvent', 'Footer links', 'Create new scraper']); }">Create new scraper</a> / <a data-wiki_type="view" href="#" class="editor_view" onClick="if(typeof _gaq !== 'undefined'){ _gaq.push(['_trackEvent', 'Footer links', 'Create new view']); }">view</a></li>
						<li><a href="{% url docsexternal %}" onClick="if(typeof _gaq !== 'undefined'){ _gaq.push(['_trackEvent', 'Footer links', 'API']); }">API</a></li>
						<li><a href="{% url docsroot %}" onClick="if(typeof _gaq !== 'undefined'){ _gaq.push(['_trackEvent', 'Footer links', 'Docs &amp; tutorials']); }">Docs &amp; tutorials</a></li>	
						<li><a href="{% url docs 'faq' %}" onClick="if(typeof _gaq !== 'undefined'){ _gaq.push(['_trackEvent', 'Footer links', 'FAQ']); }">FAQ</a></li>
						<li><a href="http://groups.google.com/group/scraperwiki" onClick="if(typeof _gaq !== 'undefined'){ _gaq.push(['_trackEvent', 'Footer links', 'Discussion group']); }">Discussion group</a></li>			                   			                 
					</ul>
				</dd>
				<dt>ScraperWiki</dt>
				<dd>
					<ul>
						<li><a href="{% url about %}" onClick="if(typeof _gaq !== 'undefined'){ _gaq.push(['_trackEvent', 'Footer links', 'About']); }">About us</a></li>
						<li><a href="{% url contact_form %}" onClick="if(typeof _gaq !== 'undefined'){ _gaq.push(['_trackEvent', 'Footer links', 'Contact us']); }">Contact us</a></li>
						<li><a href="{% url get_involved %}" title="Get involved" onClick="if(typeof _gaq !== 'undefined'){ _gaq.push(['_trackEvent', 'Footer links', 'Get involved']); }">Get involved!</a></li>
						<li><a href="http://blog.scraperwiki.com" onClick="if(typeof _gaq !== 'undefined'){ _gaq.push(['_trackEvent', 'Footer links', 'Blog']); }">Blog</a></li>
						<li><a href="http://twitter.com/scraperwiki" onClick="if(typeof _gaq !== 'undefined'){ _gaq.push(['_trackEvent', 'Footer links', 'Twitter']); }">Twitter</a></li>
                        <li><a href="https://www.facebook.com/pages/ScraperWiki/195413557138197" title="Like us on Facebook" onClick="if(typeof _gaq !== 'undefined'){ _gaq.push(['_trackEvent', 'Footer links', 'Facebook']); }">Facebook</a></li>
					</ul>
				</dd>
				<dt class="legal"></dt>
				<dd class="legal">
				    <ul>
				        <li>&copy; ScraperWiki Ltd {% now "Y" %}</li>
				        <li><a href="{% url terms %}" onClick="if(typeof _gaq !== 'undefined'){ _gaq.push(['_trackEvent', 'Footer links', 'Terms &amp; Conditions']); }">Terms &amp; conditions</a></li>
				        <li><a href="{% url privacy %}" onClick="if(typeof _gaq !== 'undefined'){ _gaq.push(['_trackEvent', 'Footer links', 'Privacy policy']); }">Privacy policy</a></li>
				    </ul>
				</dd>
			</dl>
			<img src="{{ MEDIA_URL }}images/footer_tractor.png" width="140" height="90" alt="" />
			{% endblock %}
		</div>
	</div>
	{% endblock %}

    <script type="text/javascript" defer="defer">
        {% block run_script %}
        {% endblock %}
    </script>
    <!--[if IE 6]>
    <script src="{{MEDIA_URL}}js/DD_belatedPNG_0.0.8a-min.js"></script>
	<script>
		DD_belatedPNG.fix('.png_bg, img');
	</script>
	<![endif]-->
    
        {# use this one if you want your editor to syntax highlight the javascript #}
    {% block jrun_script %}
    {% endblock %}  

{% if sqldebug %}
<div id="debug">
  <p>
    {{ sqldebug.queries.count }} Quer{{ sqldebug.queries|pluralize:"y,ies" }}, {{ sqldebug.time }} seconds
    {% ifnotequal sql_queries|length 0 %}
    (<span style="cursor: pointer;" onclick="var s=document.getElementById('debugQueryTable').style;s.display=s.display=='none'?'':'none';this.innerHTML=this.innerHTML=='Show'?'Hide':'Show';">Show</span>)
    {% endifnotequal %}
  </p>
  <table id="debugQueryTable" style="display: none;">
    <col width="1"></col>
    <col></col>
    <col width="1"></col>
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">SQL</th>
      <th scope="col">Time</th>
    </tr>
    </thead>
    <tbody>
    {% for query in sqldebug.queries %}<tr class="{% cycle odd,even %}">
      <td>{{ forloop.counter }}</td>
      <td>{{ query|safe }}</td>
      <td>{{ query.time }}</td>
    </tr>{% endfor %}
    </tbody>
  </table>
</div>
{% endif %}
	
</body>

</html>
