{% extends "frontend/base.html" %}

{% block title %}Now check your email{% endblock %}
{% block content %}
    <div class="content">
        <div class="attention">
            <h1>Now check your email!</h1>
            <p>
                Nearly done. <span class="highlight">We've just sent you an email, click on the link in that email to confirm your account</span>. If you don't receive an email in the next few minutes check your spam folder.
            </p>
        </div>
    </div>
{% endblock %}