{% extends "frontend/base.html" %}

{% block title %}About{% endblock %}
{% block content %}
    <h4>South London Subterranean Rivers</h4>
    <table id="rivers">
        <tr>
            <th>Name</th>
            <th>Confluence</th>
            <th>Rises</th>            
        </tr>
        <tr>
            <td>Peck</td>
            <td>Deptford</td>
            <td>East Dulwich</td>
        </tr>
        <tr>
            <td>Neckinger</td>            
            <td>Jacob's Island</td>
            <td>Southwark</td>        
        </tr>
        <tr>
            <td>Effra</td>                        
            <td>Vauxhall</td>
            <td>Upper Norwood</td>            
        </tr>
        <tr>
            <td>Falconbrook</td>                                    
            <td>Battersea</td>
            <td>Tooting Bec Common</td>         
        </tr>
    </table>
{% endblock %}