{% extends "frontend/base.html" %}

{% block title %}Jobs{% endblock %}

{% block meta %}
    <meta name="description" content="ScraperWiki is an online tool for gathering, cleaning and analysing data from the web. It has a thriving community of programmers writing code and visualisations, and also offers paid corporate services and private data feeds." />
{% endblock %}

{% block header %}
	<h2><em>Jobs at ScraperWiki</em></h2>
	<p>Love what we do? Get in touch!</p>
{% endblock %}

{% block content %}
    
    <div class="position" id="data-scientists" data-job="swjob5">
        <p class="closed">This particular job has been filled, we're always looking for data scientists though, so please get in touch!</p>

        <h3>Data Scientists</h3>
        
        <p>Pool temperatures, company registrations, dairy prices&hellip;</p>
        <p>ScraperWiki is a Silicon Valley style startup, in Liverpool, UK. We&rsquo;re
        changing how data science is done together on the Internet.</p>
        
        <h4>We&rsquo;re looking for two commercially minded geeks who&hellip;</h4>

        <ul>
            <li>Like communicating with non-technical customers</li>
            <li>Good at organising other geeks to make sure the job gets done</li>
            <li>Able to learn to code complex scrapers</li>
            <li>Will take a lead in improving what we do &ndash; workflow and technical</li>
        </ul>
        
        <h4>To apply, send the following:</h4>

        <ul>
            <li>A brief story of a time you made a company who was your client/customer
        happy.</li>
            <li>A link to one scraper that you've made on ScraperWiki or Github, involving
        a dataset that you find interesting for some reason.</li>
            <li>Any questions you have about the job.</li>
        </ul>

        <p>Along to <a href="mailto:francis@scraperwiki.com">francis@scraperwiki.com</a> with the word <b>swjob5</b> in the subject (and yes, that means no agencies, unless the candidates do that themselves)</p>

        <p>&hellip;Oil wells, marathon results, planning applications</p>
    </div>
    
    <div class="position" id="community-manager" data-job="swjob6">
        <p class="closed">This job has been filled</p>

        <h3>Community Manager</h3>
        
        <p>Planning applications, mobile phone bills, gas wholesale flows&hellip;</p>

        <p>ScraperWiki is a funded startup in the Liverpool Knowledge Quarter,
        UK, liberating the world&rsquo;s data.</p>

        <p>We are looking for a community manager to help us to grow and develop
        our data scientist community. These are coders across the world who are
        getting, cleaning and analysing everything - from their own data to
        government data.</p>

        <p>You will need to code and want to to encourage others to help us with
        our mission to liberate data.</p>

        <p>You will be confident using social media, communicating through blogs
        and forums and you will also want to tell the world about the amazing
        work that our community is doing to help make people’s lives better.  </p>

        <p>You will manage, attend and speak at national and international events
        and work with other organisations in the big data, data science, open
        data and developer communities to ensure that we are working together
        as a bigger voice.</p>

        <p>You will report to the CEO of ScraperWiki.</p>

        <p>We would like you to be based at the ScraperWiki office in the
        Liverpool Knowledge Quarter. The role will involve travelling to
        events.</p>

        <h4>To apply - send the following:</h4>

        <ul>
            <li>A story of one time you’ve built a community</li>
            <li>A link to a scraper (of any quality!) that you’ve made on ScraperWiki</li>
            <li>A link to your résumé/CV</li>
            <li>Any questions you have about the job</li>
        </ul>

        <p>Along to <a href="mailto:francis@scraperwiki.com">francis@scraperwiki.com</a> with the word <b>swjob6</b> in the subject (and yes, that means no agencies, unless the candidates do that themselves)</p>

        <p>&hellip; ... Ambulance callouts, event speakers, crop yields.</p>
    </div>

       <div class="position" id="product-manager" data-job="swjob7">
        <h3>Product Manager (to Director)</h3>
        
        <p>Mobile phone bills, crop data, SEC filings&hellip;</p>

        <p>ScraperWiki is a Silicon Valley style startup, in Liverpool, UK. We're changing how data science is done together on the internet.</p>

        <h4>We're looking for someone to fill a senior role who:</h4>
        <ul>
            <li>Has product making experience in a data-related business</li>
            <li>Knows how to innovate, not just expand, a market</li>
            <li>Who can help develop and define ScraperWiki’s commercial offerings</li>
            <li>Assist in creating strategic plans to ensure the sale and profitability of new products</li>
            <li>Has the ambition to take on a strategic role within 18 months  </li>
        </ul>

        <h4>You'll need these skills too:</h4>
        <ul>
            <li>Strong team communication skills</li>
            <li>Takes leadership on projects</li>
        </ul>

        <h4>To apply - send the following:</h4>
        <ul>
            <li>A half page description of a product (or products) that you have brought to market.</li>
            <li>A link to your résumé/CV.</li>
            <li>Any questions that you have about the job.</li>
        <ul>

        <p>Along to <a href="mailto:francis@scraperwiki.com">francis@scraperwiki.com</a> with the word <b>swjob7</b> in the subject.</p>

        <p>&hellip; ... Ambulance callouts, event speakers, automative data.</p>
    </div>

     <div class="position" id="python-coder-data-scientist" data-job="swjob8">
        <h3>Python Coder / Data Scientist</h3>
        
        <p>Pool temperatures, company registrations, dairy prices&hellip;</p>
        <p>ScraperWiki is a Silicon Valley style startup, in Liverpool, UK. We&rsquo;re
        changing how data science is done together on the Internet.</p>
        
        <h4>We&rsquo;re looking for a Python coder who&hellip;</h4>

        <ul>
            <li>Loves data, and what can be done with it.</li>
            <li>Good at communicating with non-technical people.</li>
        </ul>
        
        <h4>To apply, send the following:</h4>

        <ul>
            <li>Links to the code of two scrapers that you’ve made (at least
            one on ScraperWiki), involving a dataset that you find interesting.</li>

            <li>Any questions you have about the job.</li>
        </ul>

        <p>Along to <a href="mailto:francis@scraperwiki.com">francis@scraperwiki.com</a> with the word <b>swjob8</b> in the subject (and yes, that means no agencies, unless the candidates do that themselves)</p>

        <p>&hellip;Oil wells, marathon results, planning applications</p>
    </div>
  
    <div class="position" id="something-else" data-job="swjob">
        <h3>Something else?</h3>
        
        <p>If you dream of data analysis, or chomp Coffeescript stack traces for breakfast, but none of our current job offerings fit the bill, drop <a href="mailto:francis@scraperwiki.com">francis@scraperwiki.com</a> an email, we&rsquo;d love to talk to you.</p>
    </div>    

        <div class="lead">
            <p>Pop music, international shipping, football&hellip;</p>
            <p>Liverpool&rsquo;s always had a habit of changing the world. Come help us do the same with data on the web.</p>
        </div>

        <ul class="positions">
            <li><b>We&rsquo;re looking for:</b></li>
            <li><a href="#swjob7">Product Manager (to director)</a></li>
            <li><a href="#swjob8">Python Coder / Data Scientist</a></li>
            <li><a href="#swjob">Something else?</a></li>
        </ul>
    
    <br class="clear" />

{% endblock %}

{% block run_script %}
$(function(){
    
    $('.position').each(function(){
        if('#' + $(this).data('job') == window.location.hash){
            $(this).show();
        } else {
            $(this).hide();
        }
        $('[href="' + window.location.hash + '"]').addClass('selected');
    });
    
    $('.positions a').bind('click', function(e){
        e.preventDefault();
        var position = $(this).attr('href');
        window.location.hash = position;
        $('[data-job="' + position.replace('#','') +'"]').show().siblings('.position').hide();
        $(this).addClass('selected').parents('ul').find('.selected').not(this).removeClass('selected');
    });
    
});
{% endblock %}
