{% extends "frontend/base.html" %}

{% block title %}Request data{% endblock %}

{% block header %}
    <h2>Request data</h2>
    <p>For Journalists, Researchers &amp; Data Analysts who know cut and paste won&rsquo;t work</p>
{% endblock %}

{% block content %}

<h2>Hello!</h2>

<p>Thank you for your enquiry.  Your information has been passed to our
Sales Support Manager, Kinga Szczesniak (kinga@scraperwiki.com) and she 
will be in contact with you very shortly.</p>

<p>Kindest regards,</p>

<img style="float: left; padding-right: 5px; padding-top: 5px" src="{{MEDIA_URL}}/images/editor_logo.png"/>

<p>ScraperWiki
<br>Twitter <a href="http://www.twitter.com/scraperwiki">@scraperwiki</a></p>


{% endblock %}
