<div class="terms">
    
    <div id="terms_change_notice">
        <h5>You&rsquo;re viewing our new T&amp;Cs.</h5>
        <p>These terms and conditions will apply for new users signing up from midday (GMT) on Friday 11th November, and for existing users from 6PM (GMT) on Friday 18th November 2011.</p>
        <p><a href="{% url terms %}#terms_1"><img src="{{ MEDIA_URL }}images/icons/page_red.png" width="16" height="16" alt="" />View the old terms</a>&nbsp; <a href="{% url terms %}#terms_diff_1_2"><img src="{{ MEDIA_URL }}images/icons/diff.png" width="16" height="16" alt="" />Show what&rsquo;s changed</a></p>
    </div>
    
    <h3 id="introduction">Introduction</h3>
    
    <ul>
        <li>1. These terms and conditions set out the terms on which ScraperWiki Ltd, a company registered in England and Wales (No. 06979284), whose registered office is at James House, Stonecross Business Park, Yew Tree Way, Warrington, Cheshire, WA3 3JD (“we”, “us”, “our”) contracts with you for use of the ScraperWiki site and services. By using any ScraperWiki site you agree to be bound by these terms.
        </li>
        <li>2. In these terms and conditions, certain words and phrases are given pre-defined meanings as follows:
            <dl class="define">
                    <dt>script</dt>
                    <dd>
                        means a computer program which is managed or run within the ScraperWiki platform such as, but not
                        limited to, a scraper or a view
                    </dd>
                    <dt>ScraperWiki site</dt>
                    <dd>means the site <a href="https://scraperwiki.com">scraperwiki.com</a>, any of its aliases and any other site we operate under the ScraperWiki name
                    </dd>
                    <dt>
                        ScraperWiki services
                    </dt>
                    <dd>
                        means any API or other means by which any script or script data is made available
                    </dd>
                    <dt>
                        script code
                    </dt>
                    <dd>means all versions of the source code of all scripts stored on the ScraperWiki site
                    </dd>
                    <dt>
                        script data
                    </dt>
                    <dd>means all data stored by us on our website that has been created by use of a script hosted on the ScraperWiki site
                    </dd>
                    <dt>
                        intellectual property
                    </dt>
                    <dd>means any rights in patents, registered and unregistered designs, copyright, databases, trade marks, confidential information and all other forms of intellectual property wherever in the world enforceable
                    </dd>
		    <dt>commercial service</dt>
		    <dd>means any of our services for which we make a periodic charge</dd>
		    <dt>commercial user</dt>
		    <dd>means any user who is presently making use of one of our commercial services</dd>
		  
            </dl>
        </li>
        <li>3. If you are not a commercial user,  the nature of this contract is purely permissive. We permit you to use the ScraperWiki site and services as and when they are available. We do not contract to make them available now or at any time or to provide any service or a particular level of service. 
        </li>
        <li>4. If you are a commercial user, we will make all reasonable efforts to make the commercial services for which you pay available to you, subject to the disclaimers set out in the <a href="#disclaimers">section headed "disclaimers"</a> below and in particular to the exclusion of liability for interruptions to the service. We do not guarantee any particular service level.</li>
    </ul>

    <h3 id="changes">Changes to Terms and Conditions</h3>
    <ul>
        <li>5. We may amend these terms and conditions from time to time by sending notice of a variation to the email address you have supplied us. We will always give at least 7 days' notice of any variation and any variation will be binding on you on the date specified in the notice.
        </li>
    </ul>

    <h3 id="use">Use</h3>
    <ul>
        <li>6. If you are not a commercial user, you may only use the ScraperWiki site and services for your own personal use or for purposes which are not primarily commercial. The services contained on the ScraperWiki site may be supplied on a commercial basis with agreed terms of service on payment to us of an agreed charge. Please contact us on +44 208 1330541 or use our <a href="{% url contact_form %}">contact form</a> for further details. If you are in breach of this clause, we may charge you a fee, for the period for which you were and continue to be in breach, consistent with the fee we would charge you if you were a commercial user.
        </li>
        <li>7. You agree that, in using the ScraperWiki site and services, you will not interfere with the legal rights of any other person or contravene of any laws prevailing in any of (i) the jurisdiction(s) to which you are subject; (ii) England and Wales; and (iii) the jurisdiction(s) to which any site that a script accesses is subject. Prohibited behaviour includes (but is not limited to) any of the following:
            <ul>
                <li>(a) infringing the copyright, privacy or intellectual property rights of any person
                </li>
                <li>(b) breach any laws including the Data Protection Act 1998
                </li>
                <li>(c) invading any individual's privacy
                </li>
                <li>(d) defaming any person
                </li>
                <li>(e) behaviour amounting to unlawful harassment
                </li>
                <li>(f) any form of denial of service attack
                </li>
                <li>(g) any other actionable wrong
                </li>
            </ul>
        </li>
        <li>8. You must keep your contact details up to date and maintain at least one valid email address which is not hosted by us. Where we are required to give notice to you under these Terms and Conditions it is sufficient for us to attempt to send it to the email address you have supplied. We are not responsible for any problems caused by out of date or inaccessible contact details.
        </li>
    </ul>

    <h3 id="commercial">Commercial services</h3>
    <ul>
      <li>9. From time to time we may make available services for which a fee is payable. If you have agreed to use one of these services, you will be bound to pay us on the terms advertised in our <a href="{% url pricing %}">price list</a> unless and until you terminate the use of that service in accordance with this agreement.</li>
      <li>10. We may increase the price or payment terms for any commercial service by giving you 30 days' notice of the change and the date on which the change will take place.</li>
      <li>11. You may terminate any commercial service, without ending this agreement or closing your account, by giving us 30 days' notice. </li>
      <li>12. Where we have given you notice of a change to the payment terms for any of our commercial services under clause 10 above, you may terminate that service before the change takes effect by giving us notice within 14 days' of receiving our notice of the prospective change that we gave to you. Your use of the commercial service in question will then end on the date we gave for the change in the price or payment terms. Any other commercial service which you have agreed to use and this agreement will remain in force.</li>
      <li>13. If your account, and therefore this agreement, is terminated at your request, all commercial services will cease to be supplied to you and no fees that you have paid to us will be refundable. In that case, any obligation that you have to pay fees that became due prior to the termination of this agreement will continue in force.</li>
      <li>14. If your account is terminated by us for any of the reasons given under the heading "suspension and termination" below, this agreement will cease to have effect and we will terminate all commercial services at the same time. In that case, any obligation to pay fees that arose before the end of this agreement will be apportioned on a pro rata basis and any fees that you have paid relating to a period after the termination of the account will be repaid by us to you within 30 days. Any obligation that you have to pay fees relating to services supplied before the termination of the account will continue in force.</li>
      <li>15. Except in respect of injury to or death of any person or any other liability which cannot be limited or excluded by law (for which no limit applies), where you are a commercial user our liability to you in relation to all claims arising out of or in connection with this agreement shall not exceed the total monthly sum that would have been payable by you to us under this agreement at the time of the event giving rise to the liability.</li>
    </ul>
    
    
    <h3 id="vaults">Vaults</h3>
    <ul>
      <li>16. A "vault" is a collection of scripts and data that are not available to the public by default and which we do not require you to licence to the world as a whole.</li>
      <li>17. We offer a selection of commercial services under this agreement on the terms set out in our <a href="{% url pricing%}">price list</a>.</li>
      <li>18. Our terms for the use of a vault may contain a restriction on the number of "pages" you may use in a particular period of time (for example a "month"). A "page" is counted each time:
      <ul>
            <li>any script within the vault generates an HTTP request; and</li>
            <li>we authenticate any external HTTP request that is directed at the vault, e.g. that accesses any data within the vault or which calls any script or API exposed by the vault;</li>
      </ul>
      where "the vault" refers to any vault supplied as part of the commercial service in question.
	</li>
	<li>19. If the page limit is exceeded, we may do any of the following: (i) suspend the running of all scripts in the vault; (ii) disable external access to the vault. In our discretion we may choose either not to interfere with the functioning of the vault in any way, or to disable only some of its functionality.</li>
    </ul>

    <h3 id="intellectual_property">Intellectual Property</h3>
    <ul>
        <li>20. Subject to the following paragraphs, the source code of the ScraperWiki site, and all other copyrightable materials that form a part of it is released under the GNU Affero General Public License.
        </li>
        <li>21. All script code hosted on the site that is not contained in a vault is licensed under the GNU General Public License. You hereby license all script code you create or store on the site, other than in a vault, under the same licence.
        </li>
        <li>22. You agree to assert no additional intellectual property rights, including copyright and database right, in any script data which is not held in a vault, other than those rights (if any) which already existed and were owned by you before the generation of the data.
        </li>
        <li>23. You grant us a perpetual, irrevocable, non-exclusive, worldwide licence to use any data that you store on our site for any of the following purposes:
            <ul>
                <li>administering the site, including the taking of back-up copies</li>
                <li>making the data available as part of the normal operation of the site</li>
                <li>to enable us to identify and notify you of potential uses (both commercial and non-commercial) for your data</li>
            </ul>
        </li>
    </ul>
    <h3 id="disclaimers">Disclaimers</h3>
    <ul>
        <li>24. Our services are provided “as is” and you make use of these services at your own risk.
        </li>
        <li>25. In particular, while we make all reasonable efforts to ensure that our services are continuously available, service interruptions for maintenance or for reasons beyond our control are inevitable. We will accept no liability for any loss you suffer as a result of any interruption to or unavailability or suspension of our services however caused.
        </li>
        <li>26. Similarly, while we may in our absolute discretion decide to back up some or all of the data and/or code contributed to our site, no system of file backup is foolproof and you are advised to ensure that any data that is important to you is suitably protected. We do not accept any liability for any consequential loss caused to you by the loss of data for whatever reason.
        </li>
        <li>27. All script code on the site has been created by third parties. We cannot be responsible for monitoring the quality of such code and we accept no liability for any defects in the quality or operation of the code or in any documentation supplied with it. The source of all code is available on the site and it is up to you to satisfy yourself that it will operate as you expect.
        </li>
        <li>28. If you are not a commercial user we shall not be liable, in any event, for any direct loss however caused and arising in anyway out of the use of our services or software.</li>
        <li>29. We shall not be liable, in any event for any indirect, incidental, special, exemplary or consequential damages however caused and arising in anyway out of the use of our services or software.</li>
    </ul>
    <h3 id="privacy">Privacy</h3>
    <ul>
        <li>30. You consent to our storing and processing the personal information that you have supplied about yourself, including your name, user name and email address, for use in accordance with our Privacy Policy.
        </li>
    </ul>
    <h3 id="suspension">Suspension and Termination</h3>
    <ul>
        <li>31. Either party may terminate this contract at any time by giving written notice to the other. No reason need be given for termination. If we are suppying any commercial services under this contract a notice to terminate the contract will be treated as a notice to terminate all commercial services as explained under the heading "commercial services" above. In such a situation, the contract will continue until all commercial services have been terminated. Otherwise, if not commercial services are being supplied, the contract will terminate as soon as the notice is received by the other party.
        </li>
        <li>32. We reserve the right to do any of the following without being required to give you any reason or notice:
            <ul>
                <li>1. suspend or terminate your access to all or any part of the functionality of the ScraperWiki site and services
                </li>
                <li>2. close your account
                </li>
                <li>3. block access to any part of the internet by some or all of the scripts on the site
                </li>
                <li>4. implement a repeat infringer's policy pursuant to the USC 512(i) or any similar provision
                </li>
            </ul>
        </li>
        <li>33. On termination of an account we may delete any script or data associated with the account, or alter their permissions in any way so that they are accessible and/or usable by other users of the site.
        </li>
    </ul>
    <h3>General</h3>
    <ul>
        <li>34. This agreement shall be governed by and be construed in accordance with English law. Each party also agrees, to the extent that is permissible by law, to submit to the exclusive jurisdiction of the courts of England and Wales.
        </li>
        <li>35. The failure by us to exercise any right under this agreement does not constitute a waiver of that right.
        </li>
        <li>36. If any terms of this agreement are held to be void or contrary to law, then they shall be severed from the remainder of the agreement, which shall be read so far as possible without them.
        </li>
        <li>37. The Contracts (Rights of Third Parties) Act does not apply to this agreement.
        </li>
        <li>38. Nothing in this agreement constitutes a Partnership between the parties.
        </li>
        <li>39. Nothing in these terms and conditions is a restriction of liability for death or personal injury resulting from any fault on our behalf, nor does it lower or restrict your statutory rights.
        </li>
    </ul>
</div>
