<div class="terms">
    
    <div id="terms_change_notice">
        <h5>These T&amp;Cs are about to be replaced.</h5>
        <p>As of Friday 11th November, new users are already subject to the new terms and conditions. Existing users will be subject to the new terms from 6PM (GMT) on Friday 18th November 2011.</p>
        <p><a href="{% url terms %}#terms_2"><img src="{{ MEDIA_URL }}images/icons/page_green.png" width="16" height="16" alt="" />View the new terms</a> <a href="{% url terms %}#terms_diff_1_2"><img src="{{ MEDIA_URL }}images/icons/diff.png" width="16" height="16" alt="" />Show what&rsquo;s changed</a></p>
    </div>
    
    <h3>
        Introduction
    </h3>
    
    <ul>
        <li>1. These terms and conditions set out the terms on which ScraperWiki Ltd, a company registered in England and Wales (No. 06979284), whose registered office is at James House, Stonecross Business Park, Yew Tree Way, Warrington, Cheshire, WA3 3JD (“we”, “us”, “our”) contracts with you for permission to use the ScraperWiki site and services. By using any ScraperWiki site you agree to be bound by these terms.
        </li>
        <li>2. In these terms and conditions the following terms are defined as follows:
            <dl class="define">
                <dt>scraper</dt>
                <dd>
                    means a computer program which automatically accesses one or more websites in order to extract information from them
                </dd>
                    <dt>ScraperWiki site</dt>
                    <dd>means the site <a href="https://scraperwiki.com">scraperwiki.com</a>, any of its aliases and any other site we operate under the ScraperWiki name
                    </dd>
                    <dt>
                        ScraperWiki services
                    </dt>
                    <dd>
                        means any API or other means by which any scraper, scraper code or scraped data is made available
                    </dd>
                    <dt>
                        scraper code
                    </dt>
                    <dd>means all versions of the source code of all scrapers stored on the ScraperWiki site
                    </dd>
                    <dt>
                        scraped data
                    </dt>
                    <dd>means all data stored by us on our website that has been created automatically by the use of scrapers hosted on the ScraperWiki site
                    </dd>
                    <dt>
                        intellectual property
                    </dt>
                    <dd>means any rights in patents, registered and unregistered designs, copyright, databases, trade marks, confidential information and all other forms of intellectual property wherever in the world enforceable
                    </dd>
            </dl>
        </li>
        <li>3. The nature of this contract is purely permissive. We permit you to use the ScraperWiki site and services as and when they are available. We do not contract to make them available now or at any time or to provide any particular level of service.
        </li>
    </ul>

    <h3>Changes to Terms and Conditions</h3>
    <ul>
        <li>4. We may amend these terms and conditions from time to time by sending notice of a variation to the email address you have supplied us. We will always give at least 7 days' notice of any variation and any variation will be binding on you on the date specified in the notice.
        </li>
    </ul>
    <h3>Use</h3>
    <ul>
        <li>5. You may only use the ScraperWiki site and services for purposes which are not primarily commercial, or for your own personal use. The services contained on the ScraperWiki site may be supplied on a commercial basis with agreed terms of service on payment to us of an agreed charge. Please contact us on +44 208 1330541 or use our <a href="{% url contact_form %}">contact form</a> for further details.
        </li>
        <li>6. You agree that, in using the ScraperWiki site and services, you will not interfere with the legal rights of any other person or contravene of any laws prevailing in any of (i) the jurisdiction(s) to which you are subject; (ii) England and Wales; and (iii) the jurisdiction(s) to which any site that you scrape is subject. Prohibited behaviour includes (but is not limited to) any of the following:
        </li>
        <li>
            <ul>
                <li>1. infringing the copyright, privacy or intellectual property rights of any person
                </li>
                <li>2. breach any laws including the Data Protection Act 1998
                </li>
                <li>3. invading any individual's privacy
                </li>
                <li>4. defaming any person
                </li>
                <li>5. behaviour amounting to unlawful harassment
                </li>
                <li>6. any form of denial of service attack
                </li>
                <li>7. any other actionable wrong
                </li>
            </ul>
        </li>
        <li>7. You agree to adhere to the Community House Rules available on our site from time to time.
        </li>
        <li>8. You must keep your contact details up to date and maintain at least one valid email address which is not hosted by us. Where we are required to give notice to you under these Terms and Conditions it is sufficient for us to attempt to send it to the email address you have supplied. We are not responsible for any problems caused by out of date or inaccessible contact details.
        </li>
    </ul>

    <h3>Intellectual Property</h3>
    <ul>
        <li>9. Subject to the following paragraphs, the source code of the ScraperWiki site, and all other copyrightable materials that form a part of it is released under the GNU Affero General Public License.
        </li>
        <li>10. All scraping code hosted on the site is licensed under the GNU General Public License. You hereby license all scraping code you create using ScraperWiki under the same licence.
        </li>
        <li>11. You agree to assert no additional intellectual property rights, including copyright and database right, in any scraped data other than those which subsisted in the relevant web sites before the running of the relevant scraper and which were held by you at that time.
        </li>
        <li>12. You grant us a non-exclusive, worldwide, licence to use any data that you store on our site, for the purposes of administering the site.
        </li>
    </ul>
    <h3>Disclaimers</h3>
    <ul>
        <li>13. Our services are provided “as is” and you make use of these services is at your own risk.
        </li>
        <li>14. In particular, while we make all reasonable efforts to ensure that our services are continuously available, service interruptions for reasons beyond our control are inevitable. We will accept no liability for any loss you suffer as a result of any interruption to or unavailability or suspension of our services however caused.
        </li>
        <li>15. Similarly, while we may in our absolute discretion decide to back up some or all of the data and/or code contributed to our site, no system of file backup is foolproof and you are advised to ensure that any data that is important to you is suitably protected. We do not accept any liability for any consequential loss caused to you by the loss of data for whatever reason.
        </li>
        <li>16. All scraping code on the site has been created by third parties. We cannot be responsible for monitoring the quality of such code and we accept no liability for any defects in the quality or operation of the code or in any documentation supplied with it. The source of all code is available on the site and it is up to you to satisfy yourself that it will operate as you expect.
        </li>
        <li>17. In no event shall we be liable for any direct, indirect, incidental, special, exemplary or consequential damages however caused and arising in anyway out of the use of our services or software.
        </li>
    </ul>
    <h3>Privacy</h3>
    <ul>
        <li>18. You consent to our storing and processing the personal information that you have supplied about yourself, including your name, user name and email address, for in accordance with our Privacy Policy.
        </li>
    </ul>
    <h3>Suspension and Termination</h3>
    <ul>
        <li>19. Either party may terminate this contract at any time by giving written notice to the other. No reason need be given for termination.
        </li>
        <li>20. We reserve the right to do any of the following without being required to give you any reason or notice:
            <ul>
                <li>1. suspend or terminate your access to all or any part of the functionality of the ScraperWiki site and services
                </li>
                <li>2. close your account
                </li>
                <li>3. block access to any part of the internet by some or all of the scrapers on the site
                </li>
                <li>4. implement a repeat infringer's policy pursuant to the USC 512(i) or any similar provision
                </li>
            </ul>
        </li>
        <li>21. On termination of an account we may delete any scraper or data associated with the account, or alter their permissions in any way so that they are accessible and/or usable by other users of the site.
        </li>
    </ul>
    <h3>General</h3>
    <ul>
        <li>22. This agreement shall be governed by and be construed in accordance with English law. Each party also agrees, to the extent that is permissible by law, to submit to the exclusive jurisdiction of the courts of England and Wales.
        </li>
        <li>23. The failure by us to exercise any right under this agreement does not constitute a waiver of that right.
        </li>
        <li>24. If any terms of this agreement are held to be void or contrary to law, then they shall be severed from the remainder of the agreement, which shall be read so far as possible without them.
        </li>
        <li>25. The Contracts (Rights of Third Parties) Act does not apply to this agreement.
        </li>
        <li>26. Nothing in this agreement constitutes a Partnership between the parties.
        </li>
        <li>27. Nothing in these terms and conditions is a restriction of liability for death or personal injury resulting from any fault on our behalf, nor does it lower or restrict your statutory rights.
        </li>
    </ul>
</div>
